<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>chat</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<th:block th:replace="fragments/config :: configFragment"></th:block>
<link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>
	<div id="username-page">
		<div class="username-page-container">
			<h1 class="title">username을 입력하세요</h1>
			<form id="usernameForm" name="usernameForm">
				<div class="form-group">
					<input type="text" id="ownerID" placeholder="판매자ID"
						autocomplete="off" class="form-control" />
					<input type="text" id="name" placeholder="구매자ID" readonly
						autocomplete="off" class="form-control" th:value="${#authentication.name}" />
					<input type="text" id="productID" placeholder="상품ID"
						autocomplete="off" class="form-control" />
				</div>
				<div class="form-group">
					<button type="submit" class="accent username-submit">채팅
						시작하기</button>
				</div>
			</form>
		</div>
	</div>

	<div id="chat-page" class="hidden">
	
		<div class="chat-container">
			<div class="chat-header">
			<img src="../images/nin.jpg">
			
			
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">거래 상태</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">승인</a>
    <a href="#about">완료</a>
    <a href="#contact">취소</a>
  </div>
</div>
		
				<h2>닌텐도 스위치 네온</h2>
				<p>10,000원</p>
			</div>
			<div class="connecting">연결중...</div>
			<ul id="messageArea">

			</ul>
			<form id="messageForm" name="messageForm">
				<div class="form-group">
					<div class="input-group clearfix">
						<input type="text" id="message" placeholder="메세지를 입력하세요"
							autocomplete="off" class="form-control" />
						<button type="submit" class="primary">보내기</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/chat.js}"></script>
	<script>
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		}
		
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {
		    var dropdowns = document.getElementsByClassName("dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>
</body>
</html>