<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	    
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>
    
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold" th:text="${product.name}"></h1>
            <div class="custom-breadcrumbs">
              <a href="/">메인 화면</a> <span class="mx-2 slash">/</span>
              <a href="/list">모든 물건</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong th:text="${product.name}"></strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="images/job_logo_5.jpg" alt="Image">
              </div>
              <div>
                <h2 th:text="${product.name}"></h2>
                <div>
                <span class="m-2" th:text="${product.category}"><span class="icon-room mr-2"></span></span>
                  <span class="m-2" th:text="${product.location}"><span class="icon-room mr-2"></span></span>
                  <span class="m-2">판매 중</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-5">
              <figure class="mb-5"><img src="images/job_single_img_1.jpg" alt="Image" class="img-fluid rounded"></figure>
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>물건 정보</h3>
              <p th:text="| *{product.category} / *{product.location} / *{product.price}원|"></p>
              <p th:text="${product.description}"></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">판매자 정보</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">ID: </strong><span th:text="${product.user.id}"></span></li>
                <li class="mb-2"><strong class="text-black">닉네임: </strong><span th:text="${product.user.nickname}"></span></li>
              </ul>
              <a href="/mypage" class="btn btn-block btn-primary btn-md">자세히</a>
            </div>

            <div class="bg-light p-3 border rounded">
            <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">연락하기</h3>
              <div class="px-3">
				<a th:href="|/chat?product_id=*{product.id}&receiver_id=*{product.user.id}|" target="_blink" onclick="window.open(this.href, '', 'width=800, height=600'); return false;" class="btn btn-block btn-primary btn-md">채팅하기</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
       <!-- footer -->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
  
  </div>
  </body>
</html>