<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>당근나라</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.js"></script>
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6b24fe1e43b38d651c39b85291e0e144&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6b24fe1e43b38d651c39b85291e0e144&libraries=services"></script>
<th:block th:replace="fragments/config :: configFragment"></th:block>
</head>
<body id="top">

	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>


	<div class="site-wrap">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>
		<!-- .site-mobile-menu -->

		<!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

		<!-- HOME -->
		<section class="section-hero overlay inner-page bg-image"
			style="background-image: url('images/hero_1.jpg');" id="home-section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="text-white font-weight-bold">내 정보 수정하기</h1>
					</div>
				</div>
			</div>
		</section>


		<section class="site-section">
			<div class="container">
				<div class="p-4 p-md-5 border rounded">
				<form method="post" action="edit" name="edit" enctype="multipart/form-data">
					<div class="row mb-5">
						<div class="col-lg-12">
								<div class="form-group">
									<label for="company-website-tw d-block">프로필 사진 업로드</label> <br>
									<label class="btn btn-primary btn-md btn-file"> 사진 등록
										<input type="file" name="img">
									</label>
								</div>

								<div class="form-group">
							 		<label for="name">닉네임 변경</label> 
									<input type="text" class="form-control" id="nickname" name="nickname" th:value="|${user.nickname}|">
								</div>
								<div class="form-group">
									<label for="name">비밀번호 변경</label> 
									<input type="password" class="form-control" id="password" name="password" onchange="isSame()" placeholder="새 비밀번호 입력">
								</div>
								<div class="form-group">
									<label for="name">비밀번호 확인</label> 
									<input type="password" class="form-control" id="repassword" name="repassword" onchange="isSame()" placeholder="비밀번호 다시 입력">
									<span id="alert-success" style="display:none; color:#00FF00; font-weight: bold; ">비밀번호가 일치합니다.</span>
   							 		<span id="alert-danger" style="display:none; color: #d92742; font-weight: bold; ">비밀번호가 일치하지 않습니다.</span>
								</div>
								 
								<div class="form-group">
									<label for="location">지역 추가 및 삭제 / 3개까지 등록가능</label> <br>
									<input type="button" id="modalbt" value="지역 인증하기" class="btn btn-primary" style="background:#ffd09a; border-color:#ffd09a;">
									<div id="modalw" class="modal1" style="padding-top:20px;">
										<div class="modal-content1">
											<div class="modal-header1" style="padding:20px;">
												<span class="close2">&times;</span>
												<h2>지역을 인증하세요.</h2>
											</div>
											<div class="modal-body1" style="padding:20px;">
												<p>현재 지역을 골라주세요. 지금 위치와 선택한 지역이 일치하면, 내 지역으로 추가할 수 있습니다.</p>
												<select class="form-control region" name="sido2" id="sido2"></select>
    											<select class="form-control region" name="gugun2" id="gugun2"></select>
    											<input type="hidden" name="verified" id="verified" value="false" />
												<br>
												<input type="button" id="find-me" class="btn btn-primary float-right location" style="background:#a3c554; border-color:#a3c554;" value="인증하기">
												<br><br>
												<div id="map" style="width:100%; height:300px;">지도</div>
												<div id="checkthis" style="text-align:center;">
													<p id = "status"></p>
													<a id = "map-link" target="_blank" style="color:white;"></a><br>
												</div>
												<br>
												<span
														onclick="addLocation()"
														class="btn btn-primary btn-lg float-right addBtn">지역 추가</span>
												<br>
											</div>
										</div>
									</div>

									<ul id="locaul">
										<li class="lii" id="lii">w</li>
									</ul>
								</div>
						</div>

						<div class="col-3">
							<input type="submit" class="btn btn-block btn-primary btn-md"
								value="완료">
						</div>
					</div>
				</form>
				</div>
			</div>
		</section>

		<!-- footer -->
		<th:block th:replace="fragments/footer :: footerFragment">
		</th:block>
	</div>
	<script>
		function count_input() {
			var ele = document.getElementById('locaul');
			var eleCount = ele.childElementCount;

			if (eleCount >= 3) {
				$("#modalbt").attr('disabled', true);
			} else {
				$("#modalbt").attr('disabled', false);
			}
		}

		var myNodelist = document.getElementsByClassName("lii");
		var i;
		for (i = 0; i < myNodelist.length; i++) {
			var span = document.createElement("span");
			var txt = document.createTextNode("\u00D7");
			span.className = "close1";
			span.appendChild(txt);

			//$(".close1").click(count_input);		????
			//span.on('click', '.close1', handleClick); 안대애

			myNodelist[i].appendChild(span);
		}

		var close1 = document.getElementsByClassName("close1");
		var i;
		for (i = 0; i < close1.length; i++) {
			close1[i].onclick = function() {
				var div = this.parentElement;
				div.remove();
				count_input();
			}
		}

		function newElement() {
			var li = document.createElement("li");
			var inputValue = address.split(" ")[0] + " " + address.split(" ")[1];
			var t = document.createTextNode(inputValue);

			li.appendChild(t);
			if (inputValue === '') {
				alert("'인증하기' 버튼을 눌러주세요!");
			} else {
				document.getElementById("locaul").appendChild(li);
			}

			var span = document.createElement("span");
			var txt = document.createTextNode("\u00D7");
			span.className = "close1";
			span.appendChild(txt);
			li.appendChild(span);

			for (i = 0; i < close1.length; i++) {
				close1[i].onclick = function() {
					var div = this.parentElement;
					div.remove();
					count_input();
				}
			}
		}

		var modal = document.getElementById("modalw");
		var btn = document.getElementById("modalbt");
		var span = document.getElementsByClassName("close2")[0];
		btn.onclick = function() {
			modal.style.display = "block";

	        map.relayout();
		}
		span.onclick = function() {
			modal.style.display = "none";
		}

		function myFunction() {
			var element = document.getElementById("checkthis");
			element.classList.add("checklocation");
		}
		function isSame(){ 
			$("input").keyup(function(){ 
				var password=$("#password").val(); 
				var repassword=$("#repassword").val(); 
				if(password != "" || repassword != ""){ 
					if(password == repassword){ 
						$("#alert-success").show(); 
						$("#alert-danger").hide(); 
						$("#submit").removeAttr("disabled"); 
					}else{ 
						$("#alert-success").hide(); 
						$("#alert-danger").show(); 
						$("#submit").attr("disabled", "disabled"); 
					} 
				}
			}); 
		}
		function addLocation() {
			if(document.getElementById("verified").value == "true") {
				document.getElementById("verified").value = "false";
				newElement(); 
				count_input(); 
				modal.style.display = 'none';
			} else {
				alert("먼저 지역을 인증해주세요.");
			}
		}
	</script>
	<script type="text/javascript">
		var map = null;
		var address = null;
		function mapping(latitude, longitude) {
			var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
		    var options = { //지도를 생성할 때 필요한 기본 옵션
		    	center: new kakao.maps.LatLng(latitude, longitude), //지도의 중심좌표.
		    	level: 3 //지도의 레벨(확대, 축소 정도)
		    };
		
		    map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
		    
		    var markerPosition = new daum.maps.LatLng(latitude, longitude); 
		    var marker = new daum.maps.Marker({ position:markerPosition });
		    marker.setMap(map);
		    
		    searchAddrFromCoords(map.getCenter(), callback);
		}
		
		var geocoder = new kakao.maps.services.Geocoder();
		
		function callback(result, status) {
		    if (status === kakao.maps.services.Status.OK) {
				const mapLink = document.querySelector('#map-link');
		
		        console.log('지역 명칭 : ' + result[0].address_name);
		        console.log('행정구역 코드 : ' + result[0].code);
		        
		        address = result[0].address_name;
		        mapLink.textContent = address;
		    }
		};
		
		function searchAddrFromCoords(coords, callback) {
		    // 좌표로 행정동 주소 정보를 요청합니다
		    geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
		}
		
		$('document').ready(function() {	
		  var area0 = ["시/도를 선택하세요","서울특별시","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
		  var area1 = ["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"];
		  var area2 = ["계양구","남구","남동구","동구","부평구","서구","연수구","중구","강화군","옹진군"];
		  var area3 = ["대덕구","동구","서구","유성구","중구"];
		  var area4 = ["광산구","남구","동구","북구","서구"];
		  var area5 = ["남구","달서구","동구","북구","서구","수성구","중구","달성군"];
		  var area6 = ["남구","동구","북구","중구","울주군"];
		  var area7 = ["강서구","금정구","남구","동구","동래구","부산진구","북구","사상구","사하구","서구","수영구","연제구","영도구","중구","해운대구","기장군"];
		  var area8 = ["고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
		  var area9 = ["강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
		  var area10 = ["제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
		  var area11 = ["계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
		  var area12 = ["군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
		  var area13 = ["광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
		  var area14 = ["경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
		  var area15 = ["거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
		  var area16 = ["서귀포시","제주시","남제주군","북제주군"];
		
		 $("select[name^=sido]").each(function() {
		  $selsido = $(this);
		  $.each(eval(area0), function() {
		   $selsido.append("<option value='"+this+"'>"+this+"</option>");
		  });
		  $selsido.next().append("<option value=''>구/군을 선택하세요</option>");
		 });
		
		 $("select[name^=sido]").change(function() {
		  var area = "area"+$("option",$(this)).index($("option:selected",$(this)));
		  var $gugun = $(this).next();
		  $("option",$gugun).remove();
		
		  if(area == "area0")
		   $gugun.append("<option value=''>구/군을 선택하세요</option>");
		  else {
		   $.each(eval(area), function() {
		    $gugun.append("<option value='"+this+"'>"+this+"</option>");
		   });
		  }
		 });
		 
		 mapping(37.566826, 126.9786567);
		});
		
		function geoFindMe() {
		
		  const status = document.querySelector('#status');
		  const mapLink = document.querySelector('#map-link');
		
		  mapLink.href = '';
		  mapLink.textContent = '';
		
		  function success(position) {
		    const latitude  = position.coords.latitude;
		    const longitude = position.coords.longitude;

		    mapping(latitude, longitude);
		
		    status.textContent = '';
		    mapLink.href = 'https://map.kakao.com/link/map/내위치,${latitude}/,${longitude}';
		    mapLink.textContent = address;
		    

	        var addressSplit = address.split(" ")[0] + " " + address.split(" ")[1];
	        var selected = document.getElementById("sido2").value + " " + document.getElementById("gugun2").value;
	        if(addressSplit == selected) {
	        	alert("인증되었습니다. 지역 추가 버튼을 눌러 " + selected + "를 추가하세요.");
	        	document.getElementById("verified").value = "true";
	        } else {
	        	alert("선택한 지역과 현재 지역이 다릅니다. 다시 확인해주세요.");
	        }
		  }
		
		  function error() {
		    status.textContent = 'Unable to retrieve your location';
		  }
		
		  if(!navigator.geolocation) {
		    status.textContent = 'Geolocation is not supported by your browser';
		  } else {
		    status.textContent = 'Locating…';
		    navigator.geolocation.getCurrentPosition(success, error);
		  }
		  
		}
		
		function geoCheck() {
			var sido = document.getElementById("sido2");
			if(sido.value == "시/도를 선택하세요") {
				alert("현재 지역을 선택해주세요.");
				return false;
			} else {
				geoFindMe();
				myFunction();
			}
		}
		
		document.querySelector('#find-me').addEventListener('click', geoCheck);
	</script>
</body>
</html>