<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
 
    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="site-section bg-image" id="next" style="background-image: url('images/back7.jpg');">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
          	<h2>&nbsp;</h2>
            <h2 class="section-title mb-2" style="color:#fff">물건 목록</h2>
          </div>
        </div>
        
        <div class="dropdown" style="float:left; margin-right:20px;">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    정렬 &#5121;
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">가격순</a>
		    <a class="dropdown-item" href="#">최신순</a>
		    <a class="dropdown-item" href="#">회원 평점순</a>
		    <a class="dropdown-item" href="#">인기순</a>
		    <a class="dropdown-item" href="#">거리순</a>
		  </div>
		</div>
		
		<div class="input-group-prepend">
		    <label>
		    <div class="input-group-text">
		      <input type="checkbox" checked="checked">&nbsp;거래 완료된 물건 제외
		      </div></label>
		    
		  </div>
		<br>
        
        <ul class="job-listings mb-5" th:each="p : ${products}">
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          
            <a th:href="|/content?product_id=*{p.id}|"></a>
            <div class="job-listing-logo">
              <img src="images/job_logo_1.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2 th:text="${p.name}"></h2>
                <strong th:text="|*{p.category}, *{p.price}원|"></strong>
              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> <span th:text="${p.location}"></span>
              </div>
              <div class="job-listing-meta">
                <span class="badge badge-success">판매중</span>
                <span class="badge badge-default">판매됨</span>
              </div>
            </div>
            
          </li>
        </ul>

        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <span></span>
          </div>
          <div class="col-md-6 text-center text-md-right">
            <nav>
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" href="#">Pre</a></li>
			    <li class="page-item active"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">4</a></li>
			    <li class="page-item"><a class="page-link" href="#">5</a></li>
			    <li class="page-item"><a class="page-link" href="#">Next</a></li>
			  </ul>
			</nav>
          </div>
        </div>

      </div>
    </section>
    
    <!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>

  </body>
</html>