<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
 
    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="site-section bg-image" id="next" style="background-image: url('images/back7.jpg');">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
          	<h2>&nbsp;</h2>
            <h2 class="section-title mb-2" style="color:#fff">물건 목록</h2>
          </div>
        </div>
        <div class="dropdown" style="float:left; margin-right:20px;background-color:white; border-radius:5px;">
         <form name="search" method="post" action="/list">
         	<input type="hidden" name="page" />
         	<input type="hidden" name="sort" />
         	<input type="hidden" name="soldCheck" />
         	<input type="hidden" name="condition" />
         </form>
         <select class="selectpicker border rounded" data-style="btn-black" data-width="105px" title="정렬&nbsp;&#5121;">
                      <option id="latest" value="latest">최신순</option>
                      <option id="priceAsc" value="priceAsc">가격낮은순</option>
                      <option id="priceDesc" value="priceDesc">가격높은순</option>
                    </select>
          <script th:inline="javascript" th:if="${param.condition == null}">
          	var sort = document.getElementsByClassName("selectpicker border rounded")[0];
          	var link1 = "/list?page=" + /*[[ ${param.page[0]} ]]*/ 
			+ "&soldCheck=" + /*[[ ${param.soldCheck[0]} ]]*/
			+ "&sort=";
          	sort.addEventListener("change", function(){location.href=link1+event.target.value});
		  </script>
		  <script th:inline="javascript" th:if="${param.condition != null}">
		  	var sort = document.getElementsByClassName("selectpicker border rounded")[0];
		  	document.search.page.value = /*[[ ${param.page[0]} ]]*/;
		  	document.search.soldCheck.value = /*[[ ${param.soldCheck[0]} ]]*/;
		  	document.search.condition.value = /*[[ ${param.condition[0]} ]]*/;
		  	sort.addEventListener("change", function(){document.search.sort.value = event.target.value; document.search.submit();});
		  </script>
        </div>
		
		<div class="input-group-prepend">
		    <label id="soldCheckLabel">
		    <script th:inline="javascript" th:if="${param.condition == null}">
			    var soldCheck = /*[[ ${param.soldCheck[0]} ]]*/;
			    if(soldCheck == "true") {
			    	soldCheck = "false";
			    } else {
			    	soldCheck = "true";
			    }
				var label = document.getElementById("soldCheckLabel");
				var link2 = "/list?page=" + /*[[ ${param.page[0]} ]]*/ 
						+ "&sort=" + /*[[ ${param.sort[0]} ]]*/ 
						+ "&soldCheck=" + soldCheck;
				label.addEventListener("click", function(){location.href = link2});
		    </script>
		    <script th:inline="javascript" th:if="${param.condition != null}">
		    	var soldCheck = /*[[ ${param.soldCheck[0]} ]]*/;
		    	if(soldCheck == "true") {
			    	soldCheck = "false";
			    } else {
			    	soldCheck = "true";
			    }
				var label = document.getElementById("soldCheckLabel");
			  	document.search.page.value = /*[[ ${param.page[0]} ]]*/;
			  	document.search.sort.value = /*[[ ${param.sort[0]} ]]*/;
			  	document.search.soldCheck.value = soldCheck;
			  	document.search.condition.value = /*[[ ${param.condition[0]} ]]*/;
			  	label.addEventListener("click", function(){document.search.submit();});
		  	</script>
		    <div class="input-group-text">
		      <input type="checkbox" name="soldCheck" id="soldCheck" th:if="${param.soldCheck[0]} == 'true'" checked="checked">
		      <input type="checkbox" name="soldCheck" id="soldCheck" th:if="${param.soldCheck[0]} == 'false'">
		      &nbsp;거래 완료된 물건 제외
		    </div>
		    </label>
		  </div>
		<br>
        
        <ul class="job-listings mb-5" th:each="p : ${products}">
          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
          
            <a th:href="|/content?product_id=*{p.id}|"></a>
             <div class="job-listing-logo listThumb" style="overflow:hidden; ">
        
<img height="149px" th:src="${p.images !=null and p.images.isEmpty() == false} ? | upload/product/${p.images[0].storedFileName} | : 'images/null.png' " style="display:inline; margin:auto;">

            </div>

              

            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                <h2 th:text="${p.name}"></h2>
                <strong th:text="|*{p.category}&nbsp;&nbsp;*{#numbers.formatInteger(p.price, 0, 'COMMA')}원|"></strong>
              </div>
              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                <span class="icon-room"></span> <span th:text="${p.location}"></span>
              </div>
              <div class="job-listing-meta">
                <span th:if="${p.soldDate == null}" class="badge badge-success">판매중</span>
                <span th:if="${p.soldDate != null}" class="badge badge-danger">판매됨</span>
              </div>
            </div>
            
          </li>
        </ul>

        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <nav>
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" th:href="|/list?page=*{prev}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|">Pre</a></li>
			    <li class="page-item" th:if="${wholePage} >= ${startPage+1} and ${#strings.equals(param.page[0], startPage)} == false">
			    	<a class="page-link" th:href="|/list?page=*{startPage}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+1}"></a>
			    </li>
			    <li class="page-item active" th:if="${wholePage} >= ${startPage+1} and ${#strings.equals(param.page[0], startPage)}">
			    	<a class="page-link" th:href="|/list?page=*{startPage}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+1}"></a>
			    </li>
			    <li class="page-item" th:if="${wholePage} >= ${startPage+2} and ${#strings.equals(param.page[0], #strings.toString(startPage+1))} == false">
			    	<a class="page-link" th:href="|/list?page=*{startPage+1}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+2}"></a>
			    </li>
			    <li class="page-item active" th:if="${wholePage} >= ${startPage+2} and ${#strings.equals(param.page[0], #strings.toString(startPage+1))}">
			    	<a class="page-link" th:href="|/list?page=*{startPage+1}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+2}"></a>
			    </li>
			    <li class="page-item" th:if="${wholePage} >= ${startPage+3} and ${#strings.equals(param.page[0], #strings.toString(startPage+2))} == false">
			    	<a class="page-link" th:href="|/list?page=*{startPage+2}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+3}"></a>
			    </li>
			    <li class="page-item active" th:if="${wholePage} >= ${startPage+3} and ${#strings.equals(param.page[0], #strings.toString(startPage+2))}">
			    	<a class="page-link" th:href="|/list?page=*{startPage+2}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+3}"></a>
			    </li>
			    <li class="page-item" th:if="${wholePage} >= ${startPage+4} and ${#strings.equals(param.page[0], #strings.toString(startPage+3))} == false">
			    	<a class="page-link" th:href="|/list?page=*{startPage+3}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+4}"></a>
			    </li>
			    <li class="page-item active" th:if="${wholePage} >= ${startPage+4} and ${#strings.equals(param.page[0], #strings.toString(startPage+3))}">
			    	<a class="page-link" th:href="|/list?page=*{startPage+3}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+4}"></a>
			    </li>
			    <li class="page-item" th:if="${wholePage} >= ${startPage+5} and ${#strings.equals(param.page[0], #strings.toString(startPage+4))} == false">
			    	<a class="page-link" th:href="|/list?page=*{startPage+4}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+5}"></a>
			    </li>
			    <li class="page-item active" th:if="${wholePage} >= ${startPage+5} and ${#strings.equals(param.page[0], #strings.toString(startPage+4))}">
			    	<a class="page-link" th:href="|/list?page=*{startPage+4}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|" th:text="${startPage+5}"></a>
			    </li>
			    <li class="page-item"><a class="page-link" th:href="|/list?page=*{next}&sort=*{param.sort[0]}&soldCheck=*{param.soldCheck[0]}|">Next</a></li>
			  </ul>
			</nav>
          </div>
   
        </div>

      </div>
    </section>
    
    <!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>

  </body>
</html>