<!doctype html>
<html lang="en">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <th:block th:replace="fragments/config :: configFragment"></th:block>

  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-2">
          	<img src="images/person_1.jpg" class="img-thumbnail rounded-circle float-left" alt="...">
          </div>  
          <div class="col-md-7 col-10">          	
            <h1 class="text-white font-weight-bold" th:text="|${user.nickname}님|"></h1>
            <div class="custom-breadcrumbs">
              	<a href="/edit">내 정보 수정	</a>
            </div>
          </div>
        </div>
      </div>
    </section>
 <section class="site-section" id="next-section">
      <div class="container">

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'sold')" id="defaultOpen">판매 내역</button>
  <button class="tablinks" onclick="openTab(event, 'star')">평점 및 후기</button>
  <button class="tablinks" onclick="openTab(event, 'chat')">채팅방</button>
</div>

<div id="sold" class="tabcontent">
    <div class="card cards" onclick="location.href = 'detail.html'">
            <div class="cardimg" style="background-image:url('img/cc.jpg');">
            </div>
            
            <div class="p-4 mb-3 bg-white" th:each="p : ${product}" >
              <p class="mb-0 font-weight-bold" th:text="|${p.name}|"></p>
              <p class="mb-4" th:text="|${p.description}|"></p>
            </div>

</div>

</div>


<div id="star" class="tabcontent">

	<table class="startb">
		<tr>
			<td rowspan="2"><img src="images/p2.jpg" width="64px"></td>
			<td>name</td><td class="stars">★★★★★</td>
		</tr>
		
		<tr>
			<td class="starc">넘친절~</td>
		</tr>
	</table>
	
		<table class="startb">
		<tr>
			<td rowspan="2"><img src="images/p2.jpg" width="64px"></td>
			<td>name</td><td class="stars">★★★★☆</td>
		</tr>
		
		<tr>
			<td class="starc">물건이 깨끗하고 좋아요</td>
		</tr>
	</table>
	<table class="startb">
		<tr>
			<td rowspan="2"><img src="images/p2.jpg" width="64px"></td>
			<td>name</td><td class="stars">★★★★★</td>
		</tr>
		
		<tr>
			<td class="starc">제가좀 늦음 ㅎㅎㅈㅅ</td>
		</tr>
	</table>
	<table class="startb">
		<tr>
			<td rowspan="2"><img src="images/p2.jpg" width="64px"></td>
			<td>name</td><td class="stars">★★★★★</td>
		</tr>
		
		<tr>
			<td class="starc">ㅇㅇㅇㅇㅇㅇㅇㅇㅇㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅂㅂㅂㅂㅂㅂㅂㅂㅂㅂㄷㄷㄷㄷㄷㄷㄷㄷㄷㄷ~</td>
		</tr>
	</table>
	



				</div>
<div id="chat" class="tabcontent">

<div class="row">
  <div class="col-sm-6 col-md-4">

<!-- 유언에 ...처리 하기 -->
<table class="startb">
<tr><td><img src="images/p1.jpg" width="64px"></td><td>닌텐도 스위치 네온!</td><td>날짜</td></tr>
<tr><td>닉네임</td><td>저기,,,,,우리 아들이 원하는 검니다.,, 낭낭하게.... 5000원 콜?</td><td>2</td></tr>
</table>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../images/p2.jpg" width="64px">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">닌텐도 스위치 네온</h4>
    7시반 분수대 맞죠?
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../images/p1.jpg" width="64px">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">닌텐도 스위치 네온</h4>
    7시반 분수대 맞죠?
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="../images/p1.jpg" width="64px">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">닌텐도 스위치 네온</h4>
    7시반 분수대 맞죠?
  </div>
</div>


</div>
</div>

      </div>
    </section>
    
	<!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>
  
  </div>
  
<script>
function openTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
  </body>
</html>