<!doctype html>
<html lang="en">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <th:block th:replace="fragments/config :: configFragment"></th:block>

  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-2">
          	<img src="images/person_1.jpg" class="img-thumbnail rounded-circle float-left" alt="...">
          </div>  
          <div class="col-md-7 col-10">          	
            <h1 class="text-white font-weight-bold" th:text="|${user.nickname}님|"></h1>
            <div class="custom-breadcrumbs">
              	<a class="btn btn-primary border-width-2 d-none d-lg-inline-block">
					내정보수정
				</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h3>내가 올린 물건</h3>
            <div class="p-4 mb-3 bg-white" th:each="p : ${product}" >
              <p class="mb-0 font-weight-bold" th:text="|${p.name}|"></p>
              <p class="mb-4" th:text="|${p.description}|"></p>
            </div>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h3>채팅내역</h3>
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">노트북</p>
              <p class="mb-4">애누리 가능한가요?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
	<!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>
  
  </div>
  </body>
</html>