
<!doctype html>
<html lang="en">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace="fragments/config :: configFragment"></th:block>
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

   <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
	<!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">물건 등록하기</h1>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">
        <form class="p-4 p-md-5 border rounded" method="post" enctype="multipart/form-data" name="post" action="post">
        <div class="row mb-5">
          <div class="col-lg-12">
              <h3 class="text-black mb-5 border-bottom pb-2">물건 정보</h3>
              
              <div class="form-group">
                <label for="company-website-tw d-block">이미지 업로드</label> <br/>
                <input type="file" name="img" >
                <!-- 
                <label class="btn btn-primary btn-md btn-file">
                  	파일 등록
                  	
                  	<input type="file" name="img" id="img">
                </label>
                 -->
              </div>
		
              <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="물건 이름">
              </div>
              <div class="form-group">
                <label for="category">카테고리</label>
                <select class="selectpicker border rounded" id="category" name="category" data-style="btn-black" data-width="100%" data-live-search="true" title="카테고리 선택">
                      <option value="의류">의류</option>
                      <option value="가구/생활">가구/생활</option>
                      <option value="전자/가전">전자/가전</option>
                      <option value="뷰티/잡화">뷰티/잡화</option>
                      <option value="완구/취미">완구/취미</option>
                      <option value="스포츠/레저">스포츠/레저</option>
                      <option value="도서">도서</option>
                      <option value="기타">기타</option>
                    </select>
              </div>
              <div class="form-group">
                <label for="price">가격</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="가격 (숫자만 입력)">
              </div>
              <div class="form-group">
                <label for="location">지역</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="e.g. 서울, 부산, 강원">
              </div>
              <div class="form-group">
                <label for="description">상세 설명</label><br>
                <textarea name="description" cols="123" rows="10" style="resize: none;"></textarea>
              </div>
          </div>
         <div class="col-6">
                <input type="submit" class="btn btn-block btn-primary btn-md" value="등록">
              </div>
        </div>
        </form>
      </div>
    </section>

	 <!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>
  </div>
	<script>
	$(document).ready(function(){
		$("#price" ).bind('keyup', function(e){
			var rgx1 = /\D/g;
			var rgx2 = /(\d+)(\d{3})/;
			var num = this.value.replace(rgx1,"");
			
			while (rgx2.test(num)) num = num.replace(rgx2, '$1' + ',' + '$2');
			this.value = num;
		});
		
		$("form").submit(function(){
			$("#price" ).val($("#price" ).val().replaceAll(",",""));			
		});
	});
	</script>
  </body>
</html>