<!doctype html>
<html lang="en">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <th:block th:replace="fragments/config :: configFragment"></th:block>

  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-2 thumb1">
          	<img style="height:160px;" th:src="${user.images !=null and user.images.isEmpty() == false} ? |upload/profile/${user.images[0].storedFileName}| : 'images/profile.png'" class="img-thumbnail rounded-circle float-left" alt="...">
          </div> 
          <div class="col-md-7 col-10">          	
            <h1 class="text-white font-weight-bold" th:text="|${user.nickname}님|"></h1>
            <h5 class="text-white" th:if="${avgRate == 0}">아직 받은 평점이 없습니다.</h5>
            <h4 class="text-white" th:if="${avgRate != 0}" th:text="|*{#numbers.formatDecimal(avgRate,1,1)} / 5점|"></h4>
            <div class="custom-breadcrumbs">
            </div>
          </div>
        </div>
      </div>
    </section>
 <section class="site-section" id="next-section">
      <div class="container">

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'sold')" id="defaultOpen">판매 내역</button>
  <button class="tablinks" onclick="openTab(event, 'star')">평점 및 후기</button>
</div>

<div id="sold" class="tabcontent">
	<p th:if="${product.size() == 0}" style="text-align:center; padding:15% 0;">판매한 물건이 없습니다.</p>
    <div class="card cards cursor1" th:if="${product.size() != 0}" style="border: none;">
            <div class="cardimg" style="background-image:url('img/cc.jpg');">
            </div>
            
            <div class="p-4 mb-3 bg-white" th:each="p : ${product}">
				<table th:onclick="|location.href='/content?product_id=*{p.id}'|">
					<tr>
						<td rowspan="2">
						<div class="listThumb2" style="overflow:hidden; ">
						<img height="149px" th:src="${p.images !=null and p.images.isEmpty() == false} ? | upload/product/${p.images[0].storedFileName} | : 'images/nothing.jpg' "
							style="display: inline; margin: auto;">
							</div></td>
						<td>
							<p class="mb-0 font-weight-bold descp" th:text="|${p.name}|"></p>
							<p>
								<span th:if="${p.soldDate == null}" class="badge badge-success" style="color:white; font-weight:1;">판매중</span> <span
									th:if="${p.soldDate != null}" class="badge badge-default" style="color:white; font-weight:1;">판매됨</span>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="mb-4 descp" th:text="|${p.description}|"></p>
						</td>
					</tr>
				</table>
			</div>

</div>

</div>


<div id="star" class="tabcontent">

	<p th:if="${comments.size() == 0}" style="text-align:center; padding:15% 0;">받은 평가 및 후기가 없습니다.</p>

	<table class="startb" th:if="${comments.size() != 0}" th:each="c : ${comments}">
		<tr>
			<td rowspan="2">
				<a th:href="|/profile?user_id=*{c.sendUserId}|">
				<img th:src="${commentImages !=null and commentImages.isEmpty() == false} ? |upload/profile/${commentImages[i].storedFileName}| : 'images/profile.png'" width="64px">
				</a>
			</td>
			<td th:text="${c.sendUserId}"></td>
			<td th:if="${c.rate} == 0.5" class="stars">☆</td>
			<td th:if="${c.rate} == 1.0" class="stars">★</td>
			<td th:if="${c.rate} == 1.5" class="stars">★☆</td>
			<td th:if="${c.rate} == 2.0" class="stars">★★</td>
			<td th:if="${c.rate} == 2.5" class="stars">★★☆</td>
			<td th:if="${c.rate} == 3.0" class="stars">★★★</td>
			<td th:if="${c.rate} == 3.5" class="stars">★★★☆</td>
			<td th:if="${c.rate} == 4.0" class="stars">★★★★</td>
			<td th:if="${c.rate} == 4.5" class="stars">★★★★☆</td>
			<td th:if="${c.rate} == 5.0" class="stars">★★★★★</td>
		</tr>
		
		<tr>
			<td class="starc" th:text="${c.content}"></td>
		</tr>
	</table>
	
	
</div>

</div>
</div>

      </div>
    </section>
    
	<!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>
  
  </div>
  
<script>
function openTab(evt, tabname) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabname).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
  </body>
</html>