<!doctype html>
<html lang="utf-8">
  <head>
    <title>당근나라</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace="fragments/config :: configFragment"></th:block>
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

   <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
	<!-- NAVBAR -->
		<header th:insert="fragments/navbar :: navbar"
			class="site-navbar mt-3"></header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">물건 수정하기</h1>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">
        <form class="p-4 p-md-5 border rounded" method="post" enctype="multipart/form-data" name="post" action="post">
        <div class="row mb-5">
          <div class="col-lg-12">
              <h3 class="text-black mb-5 border-bottom pb-2">물건 정보</h3>
              
              <div class="form-group">
                <label for="company-website-tw d-block">이미지 업로드</label> <br/>
					<div class="filebox">
						<label for="file">업로드</label> <input type="file" id="file" multiple>
						<input class="upload-name" value="파일선택" disabled>
					</div>
	
              </div>
		
              <div class="form-group">
                <label for="name">제목</label>
                <input type="text" th:value="${product.name}" class="form-control" id="name" name="name" placeholder="물건 정보">
              </div>
              <div class="form-group">
                <label for="category">카테고리</label>
                <select class="selectpicker border rounded" id="category" name="category" data-style="btn-black" data-width="100%" data-live-search="true" title="카테고리 선택">
                      <option value="의류">의류</option>
                      <option value="가구/생활">가구/생활</option>
                      <option value="전자/가전">전자/가전</option>
                      <option value="뷰티/잡화">뷰티/잡화</option>
                      <option value="완구/취미">완구/취미</option>
                      <option value="스포츠/레저">스포츠/레저</option>
                      <option value="도서">도서</option>
                      <option value="기타">기타</option>
                </select>
              </div>
              <div class="form-group">
                <label for="price">가격</label>
                <input type="text" th:value="${product.price}" class="form-control" id="price" name="price" placeholder="가격 (숫자만 입력)">
              </div>
              <div class="form-group">
                <label for="location">지역</label>
                <select class="selectpicker border rounded" id="location" name="location" data-style="btn-black" data-width="100%" data-live-search="true" title="카테고리 선택">
                      <option th:each="l : ${locations}" th:value="|*{l.state} *{l.city}|" th:text="|*{l.state} *{l.city}|"></option>
                </select>
              </div>
              <div class="form-group">
                <label for="description">상세 설명</label><br>
                <textarea name="description" id="description1" rows="10" style="width:100%; resize: none;" th:text="${product.description}"></textarea>
              </div>
              </div>
          </div>
         <div class="col-6">
                <input type="submit" class="btn btn-block btn-primary btn-md" value="등록">
              </div>
        </div>
        </form>
      </div>
    </section>

	 <!-- footer -->
	<th:block th:replace="fragments/footer :: footerFragment">
	</th:block>
  </div>
	<script>
	
	
	$(document).ready(function(){
		$("#price" ).bind('keyup', function(e){
			var rgx1 = /\D/g;
			var rgx2 = /(\d+)(\d{3})/;
			var num = this.value.replace(rgx1,"");
			
			while (rgx2.test(num)) num = num.replace(rgx2, '$1' + ',' + '$2');
			this.value = num;
		});
		
		$("form").submit(function(){
			$("#price" ).val($("#price" ).val().replaceAll(",",""));			
		});
	});
	
	$("#file").on('change',function(){
		  var fileName = $("#file").val();
		  $(".upload-name").val(fileName);
		});
	
	document.getElementById('description1').addEventListener('keydown', function(e) {
		  if (e.key == 'Tab') {
		    e.preventDefault();
		    var start = this.selectionStart;
		    var end = this.selectionEnd;

		    this.value = this.value.substring(0, start) +
		      "\t" + this.value.substring(end);

		    this.selectionStart =
		      this.selectionEnd = start + 1;
		  }
		});
	</script>
  </body>
</html>